* {
  box-sizing: border-box;
}
html, body {
  width: 100%; 
  height: 100%;
}
body {
  background-image: url("../img/bond.jpg");
  font-family: 'Inconsolata', monospace;
  color: white;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
p {
  margin: 1% 2%;
}
div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button {
  background-image: url("../img/button.jpg");
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
  color: white;
  margin: 1% 2%;
  border-radius: 5px;
  padding: 1%;
  min-width: 15%;
  opacity: 0.8;
}
#description {
  font-family: 'Inconsolata', monospace;
  color: white;
  margin: 1% 2%;
  font-size: 1em;
}


/* button image from easydisplayname.deviantart.com */
